VALENTINE_OPENAI_API_KEY=
VALENTINE_STRIPE_SECRET_KEY=
VALENTINE_STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_VALENTINE_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_VALENTINE_CARD_PRICE_CENTS=1999
VALENTINE_CARD_PRICE_CENTS=1999
VALENTINE_ADMIN_TOKEN=
VALENTINE_RESEND_API_KEY=
VALENTINE_ADMIN_EMAIL=
VALENTINE_FROM_EMAIL=
VALENTINE_INTERNAL_URL=http://valentine:3000
