name: anchor
description: Location-based anonymous discussion app
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2
  geolocator: ^13.0.1
  provider: ^6.1.2
  shared_preferences: ^2.3.3
  timeago: ^3.7.0
  flutter_svg: ^2.0.10+1
  cupertino_icons: ^1.0.8
  uuid: ^4.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
